*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 960px;
    margin: auto;
}


#one{
    background-color: #57614e;
border: 2px solid #ffffff;
}

#one ul{
    font-size: 13px;
line-height: 24px;

font-weight: bold;
font-family: "Times";
text-align: right;
filter: drop-shadow(0.5px 0.866px 0px rgba(0,0,0,0.3));
padding: 79px 0px 0px 0px;
}

#one ul li a{
    color: #ffffff;
}

#one ul li a:hover{
   transform:scale( 2,2);
}
#one img{
    padding: 69px 14px 64px 0px;
}
#one h1{
    font-size: 23px;
line-height: 17px;
color: #ffffff;
font-weight: 400;
font-family: "Caudex";
text-align: left;
filter: drop-shadow(0.5px 0.866px 0px #000000);
padding: 79px 0px 0px 0px;
}

#one p{
    font-size: 10px;
letter-spacing: 4px;

color: #dbdbdb;
font-family: "Bodoni Svty Two IT CT TBook";
text-align: left;
filter: drop-shadow(0.5px 0.866px 0px #000000);
padding-left: 42px;

}




#tow {
    background-image: linear-gradient(0deg, #dbdbdb 0%, #eaeaea 100%);
border: 1px solid #ffffff;


}
.card {
    margin-top: 5px;
  padding-top: 10px;
  
height: 384px;
background-color: #e9e9e9;
border: 1px solid #ffffff;
}

#tow h1{
    width: 307px;
font-size: 25px ;
line-height: 48px;
color: #4e5944;
font-family: "Times New Roman";
text-align: center;

}
#tow h2{
    width: 307px;
    font-size: 30px;
    line-height: 48px;
    color: #4e5944;
    font-family: "Times New Roman";
    text-align: center;
    padding-top: 116px;
}
#tow h3{
    width: 307px;
    font-size: 20px;
    line-height: 28px;
    color: #4e5944;
    font-family: "Times New Roman";
    text-align: center;
}
#tow img{
    width: 900px;
height: 354px;
}

#on{
    background-image: linear-gradient(0deg, #dbdbdb 0%, #eaeaea 100%);
border: 1px solid #ffffff;
}
.row{
    padding-top: 40px;
}

#on h1{
    width: 620px;
height: 50px;
font-size: 32px;
line-height: 24px;
color: #57614e;
font-family: "Times New Roman";
}

#on p{
    width: 620px;
height: 50px;
font-size: 12px;
line-height: 24px;
color: #57614e;
font-family: "Times New Roman";
padding-right: 128px;
}

#ot{
    background-image: linear-gradient(0deg, #dbdbdb 0%, #eaeaea 100%);
border: 1px solid #ffffff;
}

#ot .card img{
object-fit: cover;
}

#ot a {
    width: 96px;
height: 27px;
filter: drop-shadow(0.5px 0.866px 0px rgba(0,0,0,0.5));
background-image: linear-gradient(0deg, #5b5b5b 0%, #7d7d7d 100%);
}